scripts/plots/*
modules/__pycache__
scripts/__pycache__
notebooks/*
.vscode/*
data/**/*.zarr
debug_logs/*
*.pyc
wandb*
!notebooks/*.ipynb
notebooks/old*
models/pickled_models/*
*.pt
data/*/old/*
*.DS_Store
exp_state_cache_*
data/experiments/*
experiments/**/*.txt
data/logs/*
!data/logs/.gitkeep*.egg-info/
__pycache__/*.egg-info/ # ignore going forward

sv_tcn/**/plots/
sv_tcn/**/TestingData/
sv_tcn/**/*.mem